.container{


}
.banner{
    display: flex;
    background-color: blue;
    float: left;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    color: white;

}
.logo{
    float: left;
}

.search{
    float: right;

}
.menu{
    float: right;
}
